div {
    background-color: #3355cc;
    width: 650px;
    height: 650px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    /* Свойство background-repeat определяет, как будет повторяться фоновое изображение. По умолчанию повторяется по оси x и у.
    Имеет следующие значения:
        - no-repeat - устанавливает одно фоновое изображение без повторений.
        - repeat-x - фоновое изображение повторяется только по оси Х (по горизонтали).
        - repeat-y - фоновое изображение повторяется по оси у (по вертикали).
        - space - изоражение повторяется столько раз, чтобы заполнить область, если не получается это сделать, между изоражениями добавляется отступ.
        - round - задает такое повторение, чтобы в области поместилось целое число рисунков, если не удается - рисунки масштабируются. */
    background-size: contain;
        /* Свойство позволяет задать размер фонового изображения. Может принимать следующие значения:
        - <значение> - задает размеры в любых доступных единицах, можно задавать сразу два значения, для ширины и высоты.
        - auto - оставляет размеры изображения оригинальными.
        - cover - масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялись ширине или высоте блока.
        - contain - масштабирует изображение с сохранением пропорций так, чтобы картинка полностью поместилась внутрь блока. */
    background-origin: content-box;
        /* Свойство позволяет определить область позиционирования фонового рисунка (появилось в CSS3). Имеет следующие значения:
        - padding-box - фон позиционируется относительно края элемента с учетом толщины границы.
        - border-box - позиционирование относительно границы, при этом линия границы может перекрывать изображение.
        - content-box - позиционируется относительно содержимого элемента. */
    background-position: center;
        /* Свойство позволяет задавать фоновому изображению задавать расположение, в CSS3 появилась возможность задавать значения для нескольких фоновых изображений. */
    background-attachment: fixed;
    /* Свойство background-attachment позволяет фиксировать фоновое изображение при прокрутке страницы. Может иметь следующие значения:
        - fixed - делает фоновое изображение неподвижным.
        - scroll - позволяет перемещаться фону вместе с содержимым.
        - local - фон фиксируется с учетом поведения элемента. Если элемент имеет прокрутку - фон прокручивается с содержимым, но фон выходящий за рамки элемента, остается на месте. */
    background-clip: border-box;
    /* Свойство background-clip определяет, как цвет фона или фоновая картинка должна выводиться под границами. 
        Допустимы следующие атрибуты:
        - padding-box - фон отображается внутри границ.
        - border-box - фон выводится под границами.
        - content-box - фон отображается только внутри контента. */
}
p {
    background-color: rgb(115, 200, 14);
}
span {
    background-color: hsla(100, 80%, 32%, 0.53);
}