/* Only for example */
p {
    width: 500px;
    /* Свойство определяет горизонтальное выравнивание текста внутри элемента.
    Имеет следующие значения:
        - center - вырвнивание текста по центру.
        - justify - выравнивание по ширине.
        - left - по левому краю.
        - right - по правому краю.
        - start - аналогично left, если текст идет слева на право, или right, когда тект идет справа на лево. CSS3.
        - end - такое же как start, только наоборот. CSS3. */
    text-align: justify;
    /* Свойство позволяет задать выравнивание последней строки текста.
    Работает только если text-align: justify. CSS3. */
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    /* Свойство позволяет задать оформление тексту. Имеет следующие значения: 
        - line-through - перечеркнутый текст.
        - overline - линия над текстом.
        - underline - подчеркивание.
        - none - отменяет все эфекты, в том числе подчеркивание у ссылок. */
    text-decoration: overline;
    /* Свойство text-indent позволяет задать величину отсупа первой строки текста внутри элемента. */
    text-indent: 5%;
    /* Свойство text-overflow определяет видимость текста в блоке, если текст целиком не помещается в заданную область. CSS3.
    Работает только в том случае, если задано свойство overflow. Имеет следующие значения:
        - clip - текст обрезается по размеру области.
        - ellipsis - текст обрезается и к концу строки добавляется многоточие. */
    text-overflow: ellipsis;
    /* Свойство overflow задает отображение содержимому блочного элемента, если оно целиком не помещается и выходит за область заданных размеров. 
    Имеет слудующие значения:
        - visible - отображает все содержимое, даже за пределами области.
        - hidden - отображается только то содержимое, которое не выходит за пределы области.
        - scroll - добавляются полосы прокрутки.
        - auto - полосы прокрутки добавляются только при необходимости. */
    overflow: hidden;
    /* Свойство white-space устанавливает отображение пробелов между ловами.
    Имеет следующие значения:
        - normal - тест выводится обычным образом, переносы строк устанавливаются автоматически.
        - nowrap - пробелы не учитываются, переносы строк игнорируются, и весь текст отображается в одной строке.
        - pre - текст отобржается с учетом всех пробелов и перносов.
        - pre-line - пробелы не учитываются, текст автоматически переносится на новую строку, если не помещается в заданную область.
        - pre-wrap - пробелы и переносы в тексте сохранются, но если строка не помещается в заданную область, то текст автоматически переносится на следующую строку. */
    white-space: normal;
    /* Свойство text-shadow позволяет задать тень для текста. Имеет следующие параметры:
        text-shadow: <сдвиг по х> <сдвиг по у> <размытие> <цвет>
        допускается указывть несколько теней через запятую. */
    text-shadow: 1px 1px 5px blue, 5px 5px 15px darkorange;
    /* Свойств позволяет задать как делать переносы строк внутр слов, которые не помещаются по ширине в задную область. CSS3.
    Имеет следующие значения:
        - normal - использует правила переноса строк по умолчанию.
        - break-all - перенос добавляется автоматически, чтобы слово поместилось в зданную ширину блока.
        - keep-all - не разрешает перенос строк на китайском, корейском и японском, для остальных языков работает как normal. */
    word-break: normal;
    /* Свойство позволяет задать интервал между словами. */
    word-spacing: 10px;
    /* Свойство позволяет установить направление текста.
    Работает не во всех браузерах. */
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    /* Свойство позволяет установить интервал между символами внутри элемента. */
    letter-spacing: 2px;
    /* Свойство позволяет задавать межстрочный интервал теста. Отчет ведется от базовой линии шрифта */
    line-height: 100px;
    height: 100px;
    background-color: lightgray;
    /* Свойство vertical-align задает вертикальное выравнивание.
    Имеет следующие значени:
        - baseline - выравнивание по базовой линии родительского элемента. Если ее нет, то за базовую линию принимается нижняя граница элемента.
        - bottom - выравнивает по нижней части элемента.
        - middle - выравнивание средней точки элемента по базовой линии родителя.
        - sub - отображается как подствочный.
        - super - элемент отображается в виде верхнего индекса.
        - text-bottom - нижняя граница элемента выравнивается по нижнему краю текущей строки.
        - text-top - верхняя граница элемента выравнивается по самому высокому текстовому элементу.
        - top - выравнивание верхнего края элемента по верху самого высокого элемента строки. */
        vertical-align: bottom;
}